h1 {
    color: rgb(27, 123, 187);
    margin-block: 200px;
    text-decoration: underline;
}

body {
    background-color: burlywood;
}

a {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(27, 123, 187);
  
}

p {
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: wheat;
    background-color: wheat;
    box-shadow: 5px 5px 3px 1px;

}

.description {
    background-color: wheat;
}

#links {
position: absolute;
top: 0;
bottom: 0;
width: 200px;
}

#content {
    margin-left: 200px;

}

.photo {
    border-style: solid;
    border-color: burlywood;
    box-shadow: inset 3px 3px 3px 1px
}